<!DOCTYPE html>
<html lang="<%= config.language %>" class="has-navbar-fixed-top">

<head>
  <% if(page.title) { %>
    <title><%= config.title %> - <%= page.title %></title>
  <% } else if(page.tag){ %>
    <title><%= config.title %> - 标签: <%= page.tag %></title>
  <% } else if(page.category){ %>
    <title><%= config.title %> - 分类: <%= page.category %></title>
  <% } else if(page.archive){ %>
    <title><%= config.title %> - 归档</title>
  <% } else { %>
    <title><%= config.title %></title>
  <% } %>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="shortcut icon" href="<%- url_for('/images/favicon.ico') %>" type="image/x-icon">
  <link rel="stylesheet" href="<%- url_for('/css/fa.min.css') %>">
  <link rel="stylesheet" href="<%- url_for('/css/bulma.min.css') %>">
  <link rel="stylesheet" href="<%- url_for('/css/bulma-prefers-dark.css') %>">
  <link rel="stylesheet" href="<%- url_for('/css/prism.min.css') %>">
  <link rel="stylesheet" href="<%- url_for('/css/prism.dark.min.css') %>">
  <link rel="stylesheet" href="<%- url_for('/css/index.css') %>">
</head>

<body>
  <!-- header -->
  <%- fragment_cache('header', function(){ return partial('partial/header') }) %>
  <!-- content -->
  <main class="container">
    <div class="page-container">
      <%- body %>
    </div>
  </main>
  <!-- footer -->
  <%- fragment_cache('footer', function(){ return partial('partial/footer') }) %>
  <!-- script -->
  <script src="<%- url_for('/js/index.js') %>"></script>
  <script src="<%- url_for('/js/bulma.js') %>"></script>
  <script src="<%- url_for('/js/wordcloud.js') %>"></script>
  <script src="<%- url_for('/js/search.js') %>"></script>
</body>

</html>