<div class="columns">
  <div class="column is-one-quarter is-hidden-mobile">
    <div class="block">
      <article class="message is-dark">
        <div class="message-header">
          <p>目录</p>
        </div>
        <div class="message-body">
          <%- toc(page.content, {
            class: 'menu',
            class_child: 'menu-list',
            list_number: false
          }) %>
        </div>
      </article>
    </div>
    <div class="block">
      <div class="tag-cloud">
        <div id="word-cloud">
          <%- tagcloud(site.tags) %>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-three-quarters-desktop">
    <div class="block">
      <h1 class="title is-1"><%- page.title %></h1>
      <p class="subtitle is-7">
        发布日期：<%- page.date.format('YYYY年MM月DD日 HH:mm:ss') %>
      </p>
    </div>
    <div class="block">
      <div class="content mardown">
        <%- page.content %>
      </div>
    </div>
    <div class="block">
      <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
        <% if(page.prev) { %>
        <a class="pagination-previous" href="<%= page.prev.permalink %>">
          <i class="fa fa-angle-left"></i>&nbsp;
          <%- page.prev.title %>
        </a>
        <% } else { %>
          <a class="pagination-previous is-disabled" href="javascript:void(0);">
            <i class="fa fa-angle-left"></i>&nbsp;
            空
          </a>
        <% } %>
        <% if(page.next) { %>
        <a class="pagination-next" href="<%= page.next.permalink %>">
          <%- page.next.title %> &nbsp;
          <i class="fa fa-angle-right"></i>
        </a>
        <% } else { %>
        <a class="pagination-next is-disabled" href="javascript:void(0);">
            空 &nbsp;
            <i class="fa fa-angle-right"></i>
          </a>
        <% } %>
        <ul class="pagination-list"></ul>
      </nav>
    </div>
  </div>
</div>